
.body-enter {
  background-color: rgb(0, 0, 0);
}

.div_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
  max-width: 200px;
  margin: 50px auto;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(247, 246, 246);
}

.form-control {
  width: 200px;
  
}